    
 #about{
  float: left;
  width: 100%;
  min-height: 100vh;
  background-image: url('../ng-img/info.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10% 10%;
}

#about > h1 {
    margin-top: 200px;
    text-align: center;
    font: oblique bold 200% cursive;
    color: #848484;
    
}
