

#campobuscar{
    margin-top: 10%;
    width: 50%;
    height: 50%;
    background:#D8D8D8;
    
  
}


.container-fluid{
    margin-top: 10%;
    width: 75%;
}

#img{
    width: 100px;
    height: 100px;
}
#tabla{
    
  border: solid 2px #D8D8D8;
  
}

#tabla #nombres > th {
    
   font-size: 20px;
   font-weight: bold;

}

#campos > td {
   font-size: 15px;
   font-family: cursive;
}


/*Zoom imagen */
.zoom{
        /* Aumentamos la anchura y altura durante 1 segundos */
        transition: width 1s, height 1s, transform 1s ease;
   
    }
    .zoom:hover{
        /* tranformamos el elemento al pasar el mouse por encima*/
        transform : scale(2);
    }    
    /*para mostrar numero de elementos encontrados como un contador*/
    .contador{
        position: absolute;
     width: 20px;
     height: 20px;
     text-align: center;
     border-radius: 50%;
     right:25%;
     top:21%;
    
  
    }
    #resultado{
        color: white;
    }