 <form class="form-inline text-center" >
    <div  class="form-group">

          <label for="texto">Nombre: </label>
          <input type="text" name="nombre" ng-model="nombre" class="form-control" required placeholder="Introduzca Nombre"/>
          <label for="texto">Descripción: </label>
          <input type="text" name="descripcion" ng-model="descripcion" class="form-control" required placeholder="Introduzca decripción" />
          <label for="texto">Categoria:  </label>
          <input type="text" name="categoria" ng-model="categoria" class="form-control" required placeholder="Introduzca Categoria" />
          <label for="texto">Url: </label>
          <input type="text" name="url" ng-model="url" class="form-control" required placeholder="Introduzca URL" />
          
          
          <button ng-click="addElement()"  class="btn-xs btn btn-info">Aceptar</button>
           <button ng-click="reset()"  class="btn-xs btn btn-info">Reiniciar</button>
    </div>
 </form>
<div id="linuxgif"></div>

